* {
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
}

#nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 20px;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 30px;
}


body {
    /* background: url(photos/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%; */
    background-color: rgb(230, 164, 230);
    /* width: 100%;
    height: 100vh; */
    padding: 0;
}

header {
    background-color: hsla(290, 69%, 69%, 0.9);

    width: 100%;
    height: 70px;

    padding: 0 2rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;

}

.logo {
    width: 20%;
    height: 100%;

    display: flex;
    justify-content: start;
    align-items: center;

    /* background-color: lawngreen; */
}



a{
    color: inherit;
    text-decoration: none;
}
.navlist {
    width: 60%;
    height: 100%;

    /* background-color: aqua; */

    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 15px;
    align-items: center;
}

.contact {
    width: 10%;
    height: 100%;

    display: flex;
    align-items: center;
    /* background-color: chocolate; */
}

.navlist div {
    /* background: linear-gradient(90deg, rgba(255,36,0,0.7647058823529411) 0%, 
            rgba(247,101,36,0.8374613003095975) 100%); */
    color: rgb(22, 22, 22);

    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 10px 0px 10px;

    border-radius: 10px;

    font-size: 16px;
}

.contact-btn{
    border-radius: 20px;
    padding: 10px 35px 10px 20px;

    display: flex;
    align-items: center;

    color: black;
    background-color: rgb(255, 255, 83);

    /* background: linear-gradient(90deg, rgba(255,36,0,0.7647058823529411) 0%, 
            rgba(247,101,36,0.8374613003095975) 100%); */
    
    /* border: 2px solid rgb(177, 20, 20); */
    /* border: 2px solid rgb(252, 252, 34); */
    border-width: 0;
    font-weight: 500;

    position: relative;
}

i {
    position: absolute;
    left: 95px;
    
}

.navlist div:hover {
    color: rgb(78, 78, 78);
    /* background: linear-gradient(90deg, rgba(255,36,0,0.7647058823529411) 0%, 
            rgba(247,101,36,0.8374613003095975) 100%); */
    transition-duration: 0.3s;
    scale: 1.1;
}

.contact-btn:hover {
    color: rgb(0, 0, 0);
    /* text-decoration: underline; */
    /* scale: 1.1; */
    background-color: rgb(255, 255, 0);
}

.contact-btn:active {
    color: white;
    scale: 1.1;
}

section {
    margin-top: 20px;
    /* background-color: rebeccapurple; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;  
    padding-top: 100px;                                                                                                                                                                        
}

.dbody{
    justify-content: space-evenly;
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin:0px 10px;
    border-radius: 5px;
    width: 98%;
    height: 700px;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}

.img{
    width:180px;
    height: 180px;
    margin: 15px 15px;
}
.imgtext:hover{
    box-shadow:6px 9px  5px rgba(100, 98, 98, 0.512);
}
.imgtext{
    background-color: white;
    padding-bottom:5px;
    margin-top: 5px;
    margin-bottom: 25px;
    font-size: 15px;
    margin-right: 5px;
    width: 209px;
    height: 280px;
    text-decoration: none;
}
.content{
    display: flex;
    justify-content: space-between;
    align-content:flex-start;
    margin: 0px 18px;
}
.content p{
     display: inline-block;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 12px;
}