* {
    font-family: 'Kanit', sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    display: grid;
    width: auto;
    min-height: 100vh;
    place-items: center;
    position: relative; 
    background-color: rgba(0, 0, 0, 1);
    z-index: -2;

}

.container{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    /* opacity: 50%; */
    background: rgba(0,0,0,0.6);
    
}



.banner {
    margin: 0 10px 0 10px;
    margin: 0;
    padding: 40px;
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.typed-cursor {
    font-size: 4rem;
    color: rgb(255, 255, 255);
  }
.multi-tsk {    
    display: inline-block;
    font-weight:600;
    font-size: 4rem;
    letter-spacing: 1px;
    margin: 0;
    color: rgb(255, 255, 255);
    /* -webkit-text-stroke: 2px rgb(255, 255, 255);
    color:transparent ; */

}

.text{
    font-weight: 600;
    font-size: 1.6em;
    /* -webkit-text-stroke: 0.7px rgb(255, 255, 255);
    color:transparent ; */
    letter-spacing: 1px;

    /* margin-bottom: 0px; */
    color: rgba(225,225,225);
    padding-bottom: 20px;

}

a {
    text-decoration: none;
    color: rgba(225,225,225);
    padding: 10px 25px 10px 25px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    letter-spacing: 1px;
}

a:hover{
    font-weight: 600;
    background-color: rgba(225,225,225);
    color: #000;
}

.background{
    position: absolute;
    right: 0%;
    bottom: 0%;
    z-index: -1;

    width: 100%;
}

@media (min-aspect-ratio:16/9) {
    .background{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .background{
        width: auto;
        height: 100%;
    }
}